.hero {
  height: 100vh;
  padding: 0;
  display: flex;
  align-items: center;
  background: linear-gradient(to right, #8058c5, #7987ec);
  position: relative;
  z-index: -2;
}
.hero .heroText {
  font-size: 120px;
  color: white;
  font-weight: bold;
}

.ball {
  position: absolute;
  right: 0;
  bottom: -10%;
  height: 100vh;
  z-index: -1;
}

.bestsellers {
  padding-top: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.bestsellers .titleBestseller1 {
  display: flex;
  justify-content: center;
  font-size: 25px;
  margin: 0;
  font-weight: bold;
}
.bestsellers .titleBestseller2 {
  display: flex;
  justify-content: center;
  font-size: 25px;
  margin-bottom: 3rem;
}
.bestsellers .cardBestseller {
  overflow: hidden;
  display: grid;
  grid-template-rows: 2/3;
}
.bestsellers .cardBestseller .imageBestseller {
  display: flex;
  justify-content: center;
  align-items: center;
}
.bestsellers .cardBestseller .imageBestseller img {
  width: 100%;
}

.testimonios .titleTestimonios {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #272727;
  margin: 2rem auto;
}
.testimonios .cardTestContainer {
  display: grid;
  grid-gap: 0.85rem;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
}
.testimonios .cardTestimonio {
  display: grid;
  grid-template-rows: subgrid;
  grid-row: span 3;
}
.testimonios .imageTestimonio {
  display: flex;
  justify-self: center;
  overflow: hidden;
  border-radius: 1000px;
  height: 10rem;
  width: 10rem;
  margin-bottom: 1rem;
}
.testimonios .imageTestimonio img {
  width: 100%;
}
.testimonios .bodyTestimonio {
  display: flex;
  align-items: flex-start;
}
.testimonios .bodyTestimonio p {
  text-align: center;
  margin: 0;
}
.testimonios .nameTestimonio {
  display: flex;
  justify-content: center;
}
.testimonios .nameTestimonio p {
  text-align: center;
  font-weight: bold;
  font-style: italic;
}

.titleFeedInstagram {
  display: flex;
  justify-content: center;
  color: #272727;
  margin: 2rem auto;
}
.titleFeedInstagram .instagramText {
  font-weight: bold;
  margin-left: 0.5rem;
}

.feedInstagram {
  display: grid;
  grid-gap: 0.85rem;
  grid-auto-flow: dense;
  grid-auto-rows: 20rem;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
}
.feedInstagram .imageInstagram {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.feedInstagram .imageInstagram img {
  width: 100%;
}

.feedInstagramContainer {
  position: relative;
  margin-bottom: 10rem;
}
.feedInstagramContainer .ballVector {
  position: absolute;
  right: -10%;
  bottom: -20%;
  z-index: -1;
}

body {
  display: flex;
  flex-wrap: wrap;
  min-height: 100vh;
}

footer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-self: flex-end;
}

footer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-self: flex-end;
  padding: 1.5rem;
  background: #272727;
}
footer .footerStyle {
  display: flex;
  flex-direction: row;
}
footer .imageFooter {
  overflow: hidden;
  height: 5rem;
  width: 5rem;
  border-radius: 1000px;
}
footer .imageFooter img {
  width: 100%;
}
footer .bodyFooter {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-left: auto;
}
footer .bodyFooter p {
  margin: 0 1rem;
  color: white;
}
footer .bodyFooter .mediaSocial {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  width: 35px;
  border-radius: 1000px;
  color: white;
  margin: 0 0.25rem;
  font-size: 1.35rem;
}
footer .bodyFooter .instagram {
  background: #d6249f;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
}
footer .bodyFooter .facebook {
  background: #3b5998;
}
footer .bodyFooter .whatsApp {
  background: #00bb2d;
}

.navbar-scroll {
  background: rgba(128, 88, 197, 0.7);
  backdrop-filter: blur(5px);
  transition-duration: 0.6s;
}

#banner .banner-bg-color-1 {
  background: linear-gradient(90deg, #8058c5, #7987ec);
}
@media (min-width: 768px) {
  #banner .banner-bg-color-1 {
    background: linear-gradient(90deg, #ff9792, #ff71ac);
  }
}
#banner .banner-bg-color-2 {
  background: linear-gradient(90deg, #8058c5, #7987ec);
}
@media (min-width: 768px) {
  #banner .banner-bg-color-2 {
    background: linear-gradient(90deg, #ffb42f, #ff755a);
  }
}
#banner .banner-container {
  height: 100vh;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 1;
}
@media (max-width: 768px) {
  #banner .banner-container {
    height: max(40vh, 15rem);
    width: 90%;
    border-radius: 2rem;
    margin: 4rem auto 0;
  }
}
#banner .banner-container .text-container {
  position: relative;
  z-index: 30;
}
#banner .banner-container .text-container h2 {
  color: white;
  font-weight: bold;
  font-size: 120px;
}
@media (max-width: 768px) {
  #banner .banner-container .text-container h2 {
    font-size: 37px;
    margin-left: 5%;
  }
}
#banner .banner-container .img {
  position: absolute;
  right: 0;
  bottom: -10%;
  height: 100vh;
  z-index: 20;
}
@media (max-width: 768px) {
  #banner .banner-container .img {
    height: 95%;
    right: -5%;
    top: 2.5%;
  }
}

#cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(max(8rem, 21%), 1fr));
  grid-auto-rows: max-content;
  grid-gap: 1.5rem;
  padding: 2.5rem;
}
@media (min-width: 768px) {
  #cards-container {
    grid-gap: 7rem 3rem;
    padding: 6rem 6rem 4rem;
  }
}
#cards-container .card {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  border: none;
}
#cards-container .card .card-text {
  margin-bottom: 1.75rem;
}
@media (min-width: 768px) {
  #cards-container .card .card-text {
    margin-top: 2rem;
  }
}
#cards-container .card .card-text p {
  margin-top: 0.3rem;
}
#cards-container .card .card-img img {
  object-fit: cover;
  width: 100%;
  height: 200px;
}
@media (min-width: 768px) {
  #cards-container .card .card-img img {
    height: 230px;
  }
}
#cards-container .card input[type=button] {
  border: none;
  border-radius: 7px;
  padding: 0.5rem;
  color: #fff;
  background: linear-gradient(180deg, #6F4CD1 0%, #7C85FB 100%);
}

.background-contact {
  position: relative;
}
.background-contact .img-container {
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0.15;
  overflow: hidden;
  display: flex;
  justify-content: flex-end;
  z-index: -1;
}
.background-contact .img-container img {
  width: 100%;
}
@media (min-width: 567px) and (max-width: 767px) {
  .background-contact .img-container img {
    width: 80%;
  }
}
@media (min-width: 768px) {
  .background-contact .img-container img {
    width: min(60%, 1200px);
    max-height: 56rem;
  }
}
.background-contact .form-container {
  margin: 0 auto;
}
@media (min-width: 567px) and (max-width: 767px) {
  .background-contact .form-container {
    width: 90%;
  }
}
@media (min-width: 768px) {
  .background-contact .form-container {
    width: min(80%, 1200px);
  }
}
.background-contact .form-container .contact-header {
  margin: 8rem 0rem 3rem;
  font-size: 15px;
  font-weight: 400;
  line-height: 1;
}
@media (min-width: 768px) {
  .background-contact .form-container .contact-header {
    font-size: 48px;
  }
}
.background-contact .form-container .contact-header strong {
  font-size: 20px;
  font-weight: 800;
}
@media (min-width: 768px) {
  .background-contact .form-container .contact-header strong {
    font-size: 48px;
  }
}
.background-contact .form-container #contact-form {
  display: grid;
  grid-template-columns: repeat(2, minmax(4rem, 1fr));
  grid-auto-rows: auto;
  grid-gap: 1rem;
  justify-content: space-evenly;
  width: 100%;
  padding: 1rem 0;
  opacity: 1;
}
.background-contact .form-container #contact-form .input-container {
  grid-column: span 2;
}
.background-contact .form-container #contact-form .input-container input, .background-contact .form-container #contact-form .input-container textarea {
  width: 100%;
  border: none;
  padding: 1rem 0.75rem;
  background: rgba(243, 242, 242, 0.5);
}
.background-contact .form-container #contact-form .input-container input:focus, .background-contact .form-container #contact-form .input-container textarea:focus {
  border: none;
  outline: none;
  box-shadow: 0px 0px 2px 1px #8058c5;
}
.background-contact .form-container #contact-form .input-container textarea {
  min-height: 9rem;
  resize: none;
}
.background-contact .form-container #contact-form .input-container input[type=submit] {
  background: linear-gradient(180deg, #8058c5, #7987ec);
  border-radius: 0.75rem;
  color: white;
  padding: 1rem;
  margin: 2rem 0 4rem;
  box-shadow: none !important;
}
.background-contact .form-container #contact-form .input-container input[type=submit]:active {
  transform: scale(0.98);
}
.background-contact .form-container #contact-form .input-container:nth-child(2), .background-contact .form-container #contact-form .input-container:nth-child(3) {
  grid-column: span 1;
}
.background-contact .form-container #contact-form .input-container:last-child {
  width: 60%;
  justify-self: center;
}
@media (min-width: 567px) and (max-width: 767px) {
  .background-contact .form-container #contact-form .input-container:last-child {
    width: 50%;
  }
}
@media (min-width: 768px) {
  .background-contact .form-container #contact-form .input-container:last-child {
    grid-column: 2/3;
    width: 75%;
    justify-self: end;
  }
}

.about {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
}
.about .aboutTitleContent {
  display: flex;
  justify-content: center;
  align-items: center;
}
.about .aboutTitle {
  font-size: 120px;
  font-weight: bold;
  line-height: 1;
  text-align: center;
}
.about .aboutText {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.about .aboutImage {
  height: 30rem;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}
.about .aboutBodyText p {
  font-size: 18px;
}

.scale-up-center {
  -webkit-animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
.slide-right {
  -webkit-animation: slide-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-right {
  0% {
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes slide-right {
  0% {
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

/*# sourceMappingURL=style.css.map */
