:root {
  --navbar-color: rgba(0 0 0 / 1);
}

.navbar-dark {
  --navbar-color: rgba(255 255 255 / 1);
}

:root {
  --navbar-color: rgba(0 0 0 / 1);
}

.navbar-dark {
  --navbar-color: rgba(255 255 255 / 1);
}

.home {
  overflow: hidden;
}

.hero {
  height: 100vh;
  padding: 0;
  display: flex;
  align-items: center;
  background: linear-gradient(to right, #8058c5, #7987ec);
  position: relative;
  z-index: -2;
}
.hero .heroText {
  font-size: 120px;
  color: white;
  font-weight: bold;
}
@media (max-width: 992px) {
  .hero {
    height: 40vh;
    border-radius: 30px;
    margin: 60px 10px 10px;
  }
  .hero .heroText {
    font-size: 35px;
  }
}

.ball {
  position: absolute;
  right: 0;
  bottom: -10%;
  height: 100vh;
  z-index: -1;
}
@media (max-width: 992px) {
  .ball {
    top: 0;
    right: -10px;
    height: 45vh;
    z-index: -1;
  }
}

.bestsellers {
  padding-top: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 80vh;
}
.bestsellers .titleBestseller1 {
  display: flex;
  justify-content: center;
  font-size: 37px;
  margin: 0;
  font-weight: bold;
  line-height: 1;
}
.bestsellers .titleBestseller2 {
  display: flex;
  justify-content: center;
  font-size: 37px;
  margin-bottom: 3rem;
  line-height: 1;
}
.bestsellers .cardBestseller {
  overflow: hidden;
  display: grid;
  grid-template-rows: span 2;
}
.bestsellers .cardBestseller .imageBestseller {
  display: flex;
  justify-content: center;
  align-items: center;
}
.bestsellers .cardBestseller .imageBestseller img {
  width: 100%;
}
.bestsellers .cardBestseller .bodyBestseller {
  display: flex;
  align-items: center;
  justify-content: center;
}
.bestsellers .cardBestseller .bodyBestseller p {
  text-align: center;
  margin: 0;
  font-size: 24px;
  font-weight: bold;
}
@media (max-width: 768px) {
  .bestsellers .cardBestseller .bodyBestseller p {
    font-size: 1rem;
    line-height: 1;
    font-weight: normal;
  }
}
@media (max-width: 768px) {
  .bestsellers {
    padding-top: 2rem;
    min-height: 40vh;
  }
  .bestsellers .titleBestseller1 {
    font-size: 1.5rem;
  }
  .bestsellers .titleBestseller2 {
    font-size: 1.5rem;
  }
}
@media (max-width: 992px) {
  .bestsellers .titleBestseller1 {
    font-size: 1.5rem;
  }
  .bestsellers .titleBestseller2 {
    font-size: 1.5rem;
  }
}

.testimonios {
  position: relative;
  min-height: 80vh;
}
.testimonios .image-svg-tr {
  position: absolute;
  top: 0;
  right: -20px;
  width: 100px;
  z-index: -1;
}
.testimonios .image-svg-bl {
  position: absolute;
  bottom: -140px;
  left: -80px;
  z-index: -1;
}
.testimonios .titleTestimonios {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #272727;
  margin: 6rem auto;
  font-size: 37px;
  line-height: 1;
}
.testimonios .titleTestimonios :nth-child(1) {
  font-weight: bold;
}
@media (max-width: 768px) {
  .testimonios .titleTestimonios {
    font-size: 1.5rem;
    margin: 2rem auto 2rem;
  }
}
@media (max-width: 992px) {
  .testimonios .titleTestimonios {
    font-size: 2rem;
    margin: 3rem auto 2rem;
  }
}
.testimonios .cardTestContainer {
  display: grid;
  grid-gap: 0.85rem;
  grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
}
.testimonios .cardTestimonio {
  display: grid;
  grid-template-rows: subgrid;
  grid-row: span 3;
}
.testimonios .imageTestimonio {
  display: flex;
  justify-self: center;
  overflow: hidden;
  border-radius: 1000px;
  height: 10rem;
  width: 10rem;
  margin-bottom: 1rem;
}
.testimonios .imageTestimonio img {
  width: 100%;
}
.testimonios .bodyTestimonio {
  display: flex;
  align-items: flex-start;
}
.testimonios .bodyTestimonio p {
  text-align: center;
  margin: 0;
}
.testimonios .nameTestimonio {
  display: flex;
  justify-content: center;
}
.testimonios .nameTestimonio p {
  text-align: center;
  font-weight: bold;
  font-style: italic;
}
@media (max-width: 768px) {
  .testimonios {
    min-height: 50vh;
  }
  .testimonios .image-svg-tr {
    position: absolute;
    top: 0;
    right: -20px;
    width: 50px;
    z-index: -1;
  }
  .testimonios .image-svg-bl {
    position: absolute;
    bottom: -140px;
    left: -30px;
    z-index: -1;
    width: 75px;
  }
  .testimonios .imageTestimonio {
    height: 6rem;
    width: 6rem;
    margin-bottom: 0.5rem;
  }
  .testimonios .imageTestimonio img {
    width: 100%;
  }
}

.titleFeedInstagram {
  display: flex;
  justify-content: center;
  color: #272727;
  margin: 10rem auto 2rem;
}
.titleFeedInstagram .instagramText {
  font-weight: bold;
  margin-left: 0.5rem;
}
@media (max-width: 768px) {
  .titleFeedInstagram {
    font-size: 1.5rem;
    margin: 2rem auto 2rem;
  }
}
@media (max-width: 992px) {
  .titleFeedInstagram {
    font-size: 2rem;
    margin: 3rem auto 2rem;
  }
}

.feedInstagram {
  display: grid;
  grid-gap: 0.85rem;
  grid-auto-flow: dense;
  grid-auto-rows: 20rem;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
}
.feedInstagram .imageInstagram {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.feedInstagram .imageInstagram img {
  width: 100%;
}
@media (max-width: 768px) {
  .feedInstagram .imageInstagram {
    border-radius: 15px;
  }
}

.feedInstagramContainer {
  position: relative;
  margin-bottom: 10rem;
  min-height: 80vh;
}
@media (max-width: 768px) {
  .feedInstagramContainer {
    margin-bottom: 3rem;
  }
}
.feedInstagramContainer .ballVector {
  position: absolute;
  right: -10%;
  bottom: -20%;
  z-index: -1;
}
@media (max-width: 768px) {
  .feedInstagramContainer .ballVector {
    right: -38%;
    bottom: -7%;
  }
}

body {
  display: flex;
  flex-wrap: wrap;
  min-height: 100vh;
}

footer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-self: flex-end;
}

@media (max-width: 992px) {
  header {
    padding: 0;
  }
}

footer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-self: flex-end;
  padding: 1.5rem;
  background: #272727;
}
footer .footerStyle {
  display: flex;
  flex-direction: row;
}
@media (max-width: 768px) {
  footer .footerStyle {
    margin: 0;
    padding: 0;
  }
}
footer .imageFooter {
  overflow: hidden;
  width: 5rem;
  border-radius: 1000px;
}
footer .imageFooter img {
  width: 100%;
}
footer .bodyFooter {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-left: auto;
}
footer .bodyFooter p {
  margin: 0 1rem;
  color: white;
}
@media (max-width: 768px) {
  footer .bodyFooter {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  footer .bodyFooter p {
    font-size: 0.75rem;
    order: 2;
    margin: 0px;
  }
}
footer .bodyFooter .media {
  display: flex;
  flex-direction: row;
}
footer .bodyFooter .mediaSocial {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  width: 35px;
  border-radius: 1000px;
  color: white;
  margin: 0 0.25rem;
  font-size: 1.35rem;
  padding: 1rem;
}
footer .bodyFooter .instagram {
  background: #d6249f;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
}
footer .bodyFooter .facebook {
  background: #3b5998;
}
footer .bodyFooter .whatsApp {
  background: #00bb2d;
}

.navbar-scroll {
  background: rgba(128, 88, 197, 0.7);
  backdrop-filter: blur(5px);
  transition-duration: 0.6s;
}
.navbar-scroll span {
  color: white;
}

nav {
  font-weight: bold;
  letter-spacing: 1.5px;
  font-size: 1rem;
}

@media (max-width: 768px) {
  #navbarSupportedContent ul {
    position: absolute;
    left: 0;
    height: 100vh;
    background: white;
    width: 100%;
  }
  #navbarSupportedContent .nav-link {
    color: black !important;
    text-align: center;
  }
}
#navbarSupportedContent .nav-link {
  margin: 0 1rem;
  font-family: "Roboto", sans-serif;
  transition: 0.2s ease all;
}
#navbarSupportedContent .nav-link:hover,
#navbarSupportedContent .nav-link :active {
  box-shadow: 0px 3px 0px var(--navbar-color);
  color: var(--navbar-color);
}

#navbarDropdown::after {
  content: none;
}

.dropdown-menu {
  margin-top: 0.5rem;
  border-radius: 10px;
}
.dropdown-menu i {
  color: #7987ec;
}

.mobile-wrap {
  margin: auto;
  width: 100%;
  position: relative;
}

.mobile {
  z-index: 99;
  color: #fff;
  height: 100%;
  padding: 15px;
  position: relative;
}

.mobile .header {
  clear: both;
  overflow: hidden;
  position: relative;
}

.mobile .header > span {
  font-size: 24px;
  min-width: 24px;
}

.mobile .header > .title {
  font-size: 20px;
  line-height: 1;
  margin-left: 15px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  opacity: 0.5;
}

.mobile .header .pull-left {
  float: left;
}

.mobile .header .pull-right {
  float: right;
}

.mobile .header .ion-ios-search {
  z-index: 999;
  position: relative;
}

.mobile .header .ion-ios-arrow-back {
  min-width: 25px;
}

.mobile .header .search {
  right: 0;
  bottom: 0;
  position: absolute;
}

.mobile .header .search input {
  width: 0;
  color: #fff;
  height: 24px;
  border: none;
  font-size: 16px;
  max-width: 150px;
  font-weight: 300;
  padding-right: 30px;
  font-family: inherit;
  background: transparent;
  transition: all 0.3s ease-in-out 0s;
  border-bottom: 1px solid transparent;
  -webkit-appearance: textfield;
}

.mobile .header .search input:focus {
  outline: none;
}

.mobile .header .search input::-webkit-search-decoration,
.mobile .header .search input::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

.mobile .header .search .search-visible {
  width: 100%;
  border-bottom-color: #aaa;
}

.nav {
  right: 15px;
  z-index: 20;
  width: 45px;
  bottom: 15px;
  height: 45px;
  display: block;
  position: absolute;
  line-height: 45px;
  border-radius: 50%;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.75);
}

.sidebar .sidebar-content,
.sidebar .sidebar-overlay {
  top: 0;
  left: 0;
  bottom: 0;
  position: absolute;
  transition: all 0.3s ease-in-out 0s;
  height: 100vh;
}

.sidebar .sidebar-overlay {
  right: 0;
  opacity: 0;
  width: 100%;
  z-index: 999;
  transform: scale(0);
  background: rgba(0, 0, 0, 0.4);
}

.sidebar .sidebar-content {
  width: 80%;
  color: #333;
  padding: 15px;
  z-index: 9999;
  background: #fff;
  transform: translateX(-100%);
}

.sidebar.active .sidebar-content {
  transform: translateX(0);
}

.sidebar.active .sidebar-overlay {
  opacity: 1;
  transform: scale(1);
}

.sidebar .sidebar-content .top-head .name {
  font-size: 28px;
  font-weight: 400;
  margin-bottom: 5px;
}

.sidebar .sidebar-content .top-head .email {
  font-size: 13px;
  margin-bottom: 50px;
}

.sidebar .sidebar-content .nav-left > a {
  color: #333;
  display: block;
  font-size: 16px;
  padding: 10px 0;
  line-height: 24px;
  /* vertical-align: top; */
  text-decoration: none;
}

.sidebar .sidebar-content .nav-left > a > span {
  color: rgba(0, 0, 0, 0.75);
  font-size: 24px;
  min-width: 40px;
  display: inline-block;
}

.html.chats,
.html.search,
.html.compose,
.html.credits,
.html.settings,
.html.welcome {
  margin-top: 50px;
}

.header,
.pull-left {
  display: flex;
  justify-content: left;
  align-items: center;
  color: black;
}

#banner .banner-bg-color-1 {
  background: linear-gradient(90deg, #8058c5, #7987ec);
}
@media (min-width: 768px) {
  #banner .banner-bg-color-1 {
    background: linear-gradient(90deg, #ff9792, #ff71ac);
  }
}
#banner .banner-bg-color-2 {
  background: linear-gradient(90deg, #8058c5, #7987ec);
}
@media (min-width: 768px) {
  #banner .banner-bg-color-2 {
    background: linear-gradient(90deg, #ffb42f, #ff755a);
  }
}
#banner .banner-container {
  height: 100vh;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 1;
}
@media (max-width: 768px) {
  #banner .banner-container {
    height: max(40vh, 15rem);
    width: 90%;
    border-radius: 2rem;
    margin: 4rem auto 0;
  }
}
#banner .banner-container .text-container {
  position: relative;
  z-index: 30;
}
#banner .banner-container .text-container h2 {
  color: white;
  font-weight: bold;
  font-size: 120px;
}
@media (max-width: 768px) {
  #banner .banner-container .text-container h2 {
    font-size: 37px;
    margin-left: 5%;
  }
}
#banner .banner-container .img {
  position: absolute;
  right: 0;
  bottom: -10%;
  height: 100vh;
  z-index: 20;
}
@media (max-width: 768px) {
  #banner .banner-container .img {
    height: 95%;
    right: -5%;
    top: 2.5%;
  }
}

#cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(max(8rem, 21%), 1fr));
  grid-auto-rows: max-content;
  grid-gap: 1.5rem;
  padding: 8rem 0;
}
@media (min-width: 768px) {
  #cards-container {
    grid-gap: 7rem 3rem;
  }
}
#cards-container .card {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  border: none;
}
#cards-container .card .card-text {
  margin-bottom: 1.75rem;
}
@media (min-width: 768px) {
  #cards-container .card .card-text {
    margin-top: 2rem;
  }
}
#cards-container .card .card-text p {
  margin-top: 0.3rem;
}
#cards-container .card .card-img img {
  object-fit: cover;
  width: 100%;
  height: 200px;
}
@media (min-width: 768px) {
  #cards-container .card .card-img img {
    height: 230px;
  }
}
#cards-container .card input[type=button] {
  border: none;
  border-radius: 7px;
  padding: 0.5rem;
  color: #fff;
  background: linear-gradient(180deg, #6F4CD1 0%, #7C85FB 100%);
}

:root {
  --navbar-color: rgba(0 0 0 / 1);
}

.navbar-dark {
  --navbar-color: rgba(255 255 255 / 1);
}

.background-contact {
  position: relative;
}
.background-contact .img-container {
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0.15;
  overflow: hidden;
  display: flex;
  justify-content: flex-end;
  z-index: -1;
}
.background-contact .img-container img {
  width: 100%;
}
@media (min-width: 567px) and (max-width: 767px) {
  .background-contact .img-container img {
    width: 80%;
  }
}
@media (min-width: 768px) {
  .background-contact .img-container img {
    width: min(60%, 1200px);
    max-height: 56rem;
  }
}
.background-contact .form-container {
  margin: 0 auto;
}
@media (min-width: 567px) and (max-width: 767px) {
  .background-contact .form-container {
    width: 90%;
  }
}
@media (min-width: 768px) {
  .background-contact .form-container {
    width: min(80%, 1200px);
  }
}
.background-contact .form-container .contact-header {
  margin: 8rem 0rem 3rem;
  font-size: 15px;
  font-weight: 400;
  line-height: 1;
}
@media (min-width: 768px) {
  .background-contact .form-container .contact-header {
    font-size: 48px;
  }
}
.background-contact .form-container .contact-header strong {
  font-size: 20px;
  font-weight: 800;
}
@media (min-width: 768px) {
  .background-contact .form-container .contact-header strong {
    font-size: 48px;
  }
}
.background-contact .form-container #contact-form {
  display: grid;
  grid-template-columns: repeat(2, minmax(4rem, 1fr));
  grid-auto-rows: auto;
  grid-gap: 1rem;
  justify-content: space-evenly;
  width: 100%;
  padding: 1rem 0;
  opacity: 1;
}
.background-contact .form-container #contact-form .input-container {
  grid-column: span 2;
}
.background-contact .form-container #contact-form .input-container input, .background-contact .form-container #contact-form .input-container textarea {
  width: 100%;
  border: none;
  padding: 1rem 0.75rem;
  background: rgba(243, 242, 242, 0.5);
}
.background-contact .form-container #contact-form .input-container input:focus, .background-contact .form-container #contact-form .input-container textarea:focus {
  border: none;
  outline: none;
  box-shadow: 0px 0px 2px 1px #8058c5;
}
.background-contact .form-container #contact-form .input-container textarea {
  min-height: 9rem;
  resize: none;
}
.background-contact .form-container #contact-form .input-container input[type=submit] {
  background: linear-gradient(180deg, #8058c5, #7987ec);
  border-radius: 0.75rem;
  color: white;
  padding: 1rem;
  margin: 2rem 0 4rem;
  box-shadow: none !important;
}
.background-contact .form-container #contact-form .input-container input[type=submit]:active {
  transform: scale(0.98);
}
.background-contact .form-container #contact-form .input-container:nth-child(2), .background-contact .form-container #contact-form .input-container:nth-child(3) {
  grid-column: span 1;
}
.background-contact .form-container #contact-form .input-container:last-child {
  width: 60%;
  justify-self: center;
}
@media (min-width: 567px) and (max-width: 767px) {
  .background-contact .form-container #contact-form .input-container:last-child {
    width: 50%;
  }
}
@media (min-width: 768px) {
  .background-contact .form-container #contact-form .input-container:last-child {
    grid-column: 2/3;
    width: 75%;
    justify-self: end;
  }
}

.about {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
}
.about .aboutTitleContent {
  display: flex;
  justify-content: center;
  align-items: center;
}
.about .aboutTitle {
  font-size: 120px;
  font-weight: bold;
  line-height: 1;
  text-align: center;
}
.about .aboutText {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.about .aboutImage {
  height: 30rem;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}
.about .aboutBodyText p {
  font-size: 18px;
}
@media (max-width: 768px) {
  .about .aboutTitle {
    font-size: 40px;
  }
  .about .aboutText {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  .about .aboutImage {
    height: 30%;
    position: absolute;
    left: 0;
    top: 5%;
    z-index: -1;
    opacity: 0.2;
  }
  .about .aboutBodyText p {
    font-size: 0.85rem;
  }
}
@media (max-width: 992px) {
  .about .aboutImage {
    height: 80%;
    position: absolute;
    left: 0;
    top: 5%;
    z-index: -1;
    opacity: 0.2;
  }
  .about .aboutBodyText p {
    font-size: 1rem;
  }
}

.scale-up-center {
  -webkit-animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
.slide-right {
  -webkit-animation: slide-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-right {
  0% {
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes slide-right {
  0% {
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
.pulsate-fwd {
  -webkit-animation: pulsate-fwd 0.5s ease-in-out 0.5s both;
  animation: pulsate-fwd 0.5s ease-in-out 0s both;
}

@-webkit-keyframes pulsate-fwd {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes pulsate-fwd {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

/*# sourceMappingURL=style.css.map */
