<div class="container about mt-3">
    
        <div class="row aboutText">
            <div class="col-6 aboutTitleContent">
                <h2 class="aboutTitle">Quienes somos</h2>
            </div>
            <div class="col-6 aboutBodyText">
                <p>Sobre Entre Ideas Nació en Pandemia de Febrero 2020; Donde decidí crear una marca de papelería creativa personalizada que se destaque cada detalle de los diseños creados y mostrar los productos con los mejores acabados.</p>
                <p>A su vez fuimos implementando productos a nuestro catálogo, donde cada vez eran más solicitados; Hoy me siento orgullosa por la satisfacción de mis clientes y trabajamos por ser cada día mejor, para que sus eventos sean únicos e inolvidables al contar con cada elemento decorativo y hecho especialmente para ustedes.</p>
                <p>Esperamos seguir creciendo y ofreciendo nuestros productos a lo largo de este hermoso País.</p>
            </div>
            <img class="aboutImage" src="./image/Ball Quienesomos.png" alt="">
        </div>
    
</div>