<div class="container mt-3">
    <div class="about">
        <div class="row aboutText">
            <div class="col-6 aboutTitleContent">
                <h2 class="aboutTitle slide-right">Quienes somos</h2>
            </div>
            <div class="col-6 aboutBodyText">
                <p>Sobre Entre Ideas Nació en Pandemia de Febrero 2020; Donde decidí crear una marca de papelería
                    creativa personalizada que se destaque cada detalle de los diseños creados y mostrar los productos
                    con los mejores acabados.</p>
                <p class="d-none d-md-block">A su vez fuimos implementando productos a nuestro catálogo, donde cada vez
                    eran más solicitados; Hoy me siento orgullosa por la satisfacción de mis clientes y trabajamos por
                    ser cada día mejor, para que sus eventos sean únicos e inolvidables al contar con cada elemento
                    decorativo y hecho especialmente para ustedes.</p>
                <p class="d-none d-md-block">Esperamos seguir creciendo y ofreciendo nuestros productos a lo largo de
                    este hermoso País.</p>
            </div>
            <div class="col-12 aboutBodyText">
                <p class="d-block d-md-none">A su vez fuimos implementando productos a nuestro catálogo, donde cada vez
                    eran más solicitados; Hoy me siento orgullosa por la satisfacción de mis clientes y trabajamos por
                    ser cada día mejor, para que sus eventos sean únicos e inolvidables al contar con cada elemento
                    decorativo y hecho especialmente para ustedes.</p>
                <p class="d-block d-md-none">Esperamos seguir creciendo y ofreciendo nuestros productos a lo largo de
                    este hermoso País.</p>
            </div>
            <img class="aboutImage scale-up-center" src="./image/Ball Quienesomos.png" alt="">
        </div>
    </div>
    <div class="container-fluid m-0 testimonios d-block d-md-none">
        <div class="container my-md-5 py-md-5">
            <img class="image-svg-tr" src="../image/Vector2.svg" alt="">
            <img class="image-svg-bl" src="../image/Vector3.svg" alt="">
            <h3 class="titleTestimonios">
                <span>Testimonios </span><span>de nuestros clientes</span>
            </h3>
            <div class="cardTestContainer">
                <div class="cardTestimonio">
                    <div class="imageTestimonio">
                        <img src="./image/Testimonio-1.jpeg" alt="testimonio-01">
                    </div>
                    <div class="bodyTestimonio">
                        <p>Hola! Me llegó mi pedido, de verdad me quedó todo tal cual lo imaginé, me encantó!. Cada
                            detalle y acabado está super espectacular, además de la creatividad que tienen. 100%
                            recomendable!</p>
                    </div>
                    <div class="nameTestimonio">
                        <p>Carla Santander</p>
                    </div>
                </div>
                <div class="cardTestimonio">
                    <div class="imageTestimonio">
                        <img src="./image/Testimonio-2.jpeg" alt="testimonio-02">
                    </div>
                    <div class="bodyTestimonio">
                        <p>Buenas tardes! Quería agradecerte por el topper y las cajitas que hiciste para mi cumpleaños,
                            les quedaron hermosas, todo de muy buena calidad, excelente trabajo! Quedé enamorada,
                            gracias!</p>
                    </div>
                    <div class="nameTestimonio">
                        <p>Marcela Henriquez</p>
                    </div>
                </div>
                <div class="cardTestimonio">
                    <div class="imageTestimonio">
                        <img src="./image/Testimonio-3.jpeg" alt="testimonio-03">
                    </div>
                    <div class="bodyTestimonio">
                        <p>Me encantaron los productos y la confección de estos! Por otro lado, la atención y servicio
                            todo muy simple y cómodo Muchas gracias!</p>
                    </div>
                    <div class="nameTestimonio">
                        <p>Luis González</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>