<div class="background-contact">
    <div class="img-container">
        <img src="./image/banner/ball.svg" alt="">
    </div>
    <h2 class="contact-header"><strong>Formulario</strong><br>de cotización</h2>
    <form action="" id="contact-form">
        <div class="input-container">
            <label for="cliente" hidden>Nombre y apellido</label>
            <input type="text" id="cliente" placeholder="Nombre y apellido">
        </div>
        <div class="input-container">
            <label for="email" hidden>Email</label>
            <input type="email" id="email" placeholder="Email">
        </div>
        <div class="input-container">
            <label for="telefono" hidden>Número de contacto</label>
            <input type="text" id="telefono" placeholder="Numero de contacto">
        </div>
        <div class="input-container">
            <label for="productos" hidden>Productos</label>
            <input type="text" id="productos" placeholder="Nombre producto (s)">
        </div>
        <div class="input-container">
            <label for="detalles" hidden>Detalles del pedido</label>
            <textarea id="detalles" placeholder="Detalles"></textarea>
        </div>
        <div class="input-container">
            <input type="submit" value="Enviar cotización">
        </div>
    </form>
</div>