<div class="background-contact">
    <div class="img-container">
        <img class="scale-up-center" src="./image/banner/ball.svg" alt="">
    </div>
    <div class="form-container container">
        <h2 class="contact-header slide-right"><strong>Formulario</strong><br>de cotización</h2>
        <form action="" id="contact-form">
            <div class="input-container">
                <label for="cliente" hidden>Nombre y apellido</label>
                <input type="text" id="cliente" name="nombre" placeholder="Nombre y apellido">
            </div>
            <div class="input-container">
                <label for="email" hidden>Email</label>
                <input type="email" id="email" name="email" placeholder="Email">
            </div>
            <div class="input-container">
                <label for="telefono" hidden>Número de contacto</label>
                <input type="text" id="telefono" name="telefono" placeholder="Numero de contacto">
            </div>
            <div class="input-container">
                <label for="productos" hidden>Productos</label>
                <input type="text" id="productos" name="producto" placeholder="Nombre producto (s)">
            </div>
            <div class="input-container">
                <label for="detalles" hidden>Detalles del pedido</label>
                <textarea id="detalles" name="consulta" placeholder="Detalles"></textarea>
            </div>
            <div class="input-container pulsate-fwd">
                <input class="pulsate-fwd" type="submit" value="Enviar cotización">
            </div>
        </form>
    </div>
    <a href="" id="mail-button" style="opacity: 0;">M</a>
</div>