<div class="home container-fluid p-0 m-0">
    <div class="hero">
        <div class="container p-0">
            <h2 class="col-7 heroText">Un mundo de ideas</h2>
        </div>
    </div>
    <div class="container">
        <div class="bestsellers">
            <h3>Bestsellers</h3>
            <p>Lo más vendido</p>
            <div class="row">
                <div class="col-4">
                    <div class="imageBestseller">
                        <img src="#" alt="bestseller-01">
                    </div>
                    <div class="bodyBestseller">
                        <p>Caketopper en Relieve</p>
                    </div>
                </div>
                <div class="col-4">
                    <div class="imageBestseller">
                        <img src="#" alt="bestseller-02">
                    </div>
                    <div class="bodyBestseller">
                        <p>Papelería de Cumpleaños</p>
                    </div>
                </div>
                <div class="col-4">
                    <div class="imageBestseller">
                        <img src="#" alt="bestseller-03">
                    </div>
                    <div class="bodyBestseller">
                        <p>Arreglos de cumpleaños</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="testimonios">
            <h3 class="titleTestimonios">
                <span>Testimonios </span><span>de nuestros clientes</span>
            </h3>
            <div class="row">
                <div class="col-4 cardTestimonio">
                    <div class="imageTestimonio">
                        <img src="../image/imagen-prueba_v.jpg" alt="testimonio-01">
                    </div>
                    <div class="bodyTestimonio">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore soluta velit eum error quos maiores quae voluptates at, voluptatem quaerat, consectetur praesentium aperiam rerum nulla porro? Eius nesciunt amet sit!</p>
                        
                        <p>Carla Santander</p>
                    </div>
                </div>
                <div class="col-4 cardTestimonio">
                    <div class="imageTestimonio">
                        <img src="../image/imagen-prueba_v.jpg" alt="testimonio-02">
                    </div>
                    <div class="bodyTestimonio">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore soluta velit eum error quos maiores quae voluptates at, voluptatem quaerat, consectetur praesentium aperiam rerum nulla porro? Eius nesciunt amet sit!</p>
                        
                        <p>Marcela Henriquez</p>
                    </div>
                </div>
                <div class="col-4 cardTestimonio">
                    <div class="imageTestimonio">
                        <img src="../image/imagen-prueba_v.jpg" alt="testimonio-03">
                    </div>
                    <div class="bodyTestimonio">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore soluta velit eum error quos maiores quae voluptates at, voluptatem quaerat, consectetur praesentium aperiam rerum nulla porro? Eius nesciunt amet sit!</p>
                        
                        <p>Luis González</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="feedInstagramContainer">
            <h3 class="titleFeedInstagram">Feed de<span class="instagramText">Instagram</span></h3>
            <div class="feedInstagram">
                <div class="imageInstagram">
                    <img src="../image/imagen-prueba_v.jpg" alt="imageInstagram">
                </div>
                <div class="imageInstagram">
                    <img src="../image/imagen-prueba_v.jpg" alt="imageInstagram">
                </div>
                <div class="imageInstagram">
                    <img src="../image/imagen-prueba_v.jpg" alt="imageInstagram">
                </div>
                <div class="imageInstagram">
                    <img src="../image/imagen-prueba_v.jpg" alt="imageInstagram">
                </div>
                <div class="imageInstagram">
                    <img src="../image/imagen-prueba_v.jpg" alt="imageInstagram">
                </div>
                <div class="imageInstagram">
                    <img src="../image/imagen-prueba_v.jpg" alt="imageInstagram">
                </div>
            </div>
        </div>
    </div>
</div>