<div class="home container-fluid p-0 m-0">
    <div class="hero">
        <div class="container p-0">
            <h2 class="col-7 heroText slide-right">Un mundo de ideas</h2>
        </div>
        <img class="ball scale-up-center" src="./image/Balls.svg" alt="balls">
    </div>
    <div class="container">
        <div class="bestsellers my-1 my-md-5 py-1 py-md-5">
            <h3 class="titleBestseller1">Bestsellers</h3>
            <p class="titleBestseller2">Lo más vendido</p>
            <div class="row">
                <div class="col-4 cardBestseller">
                    <div class="imageBestseller">
                        <img src="./image/bestSell-01.png" alt="bestseller-01">
                    </div>
                    <div class="bodyBestseller">
                        <p class="nameTest">Caketopper en Relieve</p>
                    </div>
                </div>
                <div class="col-4 cardBestseller">
                    <div class="imageBestseller">
                        <img src="./image/bestSell-02.png" alt="bestseller-02">
                    </div>
                    <div class="bodyBestseller">
                        <p class="nameTest">Papelería de Cumpleaños</p>
                    </div>
                </div>
                <div class="col-4 cardBestseller">
                    <div class="imageBestseller">
                        <img src="./image/bestSell-03.png" alt="bestseller-03">
                    </div>
                    <div class="bodyBestseller">
                        <p class="nameTest">Arreglos de cumpleaños</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid m-0 testimonios d-none d-md-block">

        <div class="container my-lg-5 py-lg-5">
            <img class="image-svg-tr" src="../image/Vector2.svg" alt="">
            <img class="image-svg-bl" src="../image/Vector3.svg" alt="">
            <h3 class="titleTestimonios">
                <span>Testimonios </span><span>de nuestros clientes</span>
            </h3>
            <div class="cardTestContainer">
                <div class="cardTestimonio">
                    <div class="imageTestimonio">
                        <img src="./image/Testimonio-1.jpeg" alt="testimonio-01">
                    </div>
                    <div class="bodyTestimonio">
                        <p>Hola! Me llegó mi pedido, de verdad me quedó todo tal cual lo imaginé, me encantó!. Cada
                            detalle y acabado está super espectacular, además de la creatividad que tienen. 100%
                            recomendable!</p>
                    </div>
                    <div class="nameTestimonio">
                        <p>Carla Santander</p>
                    </div>
                </div>
                <div class="cardTestimonio">
                    <div class="imageTestimonio">
                        <img src="./image/Testimonio-2.jpeg" alt="testimonio-02">
                    </div>
                    <div class="bodyTestimonio">
                        <p>Buenas tardes! Quería agradecerte por el topper y las cajitas que hiciste para mi cumpleaños,
                            les quedaron hermosas, todo de muy buena calidad, excelente trabajo! Quedé enamorada,
                            gracias!</p>
                    </div>
                    <div class="nameTestimonio">
                        <p>Marcela Henriquez</p>
                    </div>
                </div>
                <div class="cardTestimonio">
                    <div class="imageTestimonio">
                        <img src="./image/Testimonio-3.jpeg" alt="testimonio-03">
                    </div>
                    <div class="bodyTestimonio">
                        <p>Me encantaron los productos y la confección de estos! Por otro lado, la atención y servicio
                            todo muy simple y cómodo Muchas gracias!</p>
                    </div>
                    <div class="nameTestimonio">
                        <p>Luis González</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container feedInstagramContainer">
        <h3 class="titleFeedInstagram">Feed de<span class="instagramText">Instagram</span></h3>
        <div class="feedInstagram">
            <div class="imageInstagram">
                <img src="./image/feed-1.jpeg" alt="imageInstagram">
            </div>
            <div class="imageInstagram">
                <img src="./image/feed-2.jpeg" alt="imageInstagram">
            </div>
            <div class="imageInstagram">
                <img src="./image/Captura de Pantalla 2021-09-07 a la(s) 14.51.14.png" alt="imageInstagram">
            </div>
            <div class="imageInstagram">
                <img src="./image/feed-3.jpeg" alt="imageInstagram">
            </div>
            <div class="imageInstagram">
                <img src="./image/Captura de Pantalla 2021-09-07 a la(s) 14.56.24.png" alt="imageInstagram">
            </div>
            <div class="imageInstagram">
                <img src="./image/feed-6.jpeg" alt="imageInstagram">
            </div>
        </div>
        <img class="ballVector" src="./image/Vector.svg" alt="">
    </div>
</div>
</div>