// Sistema de colores
$color-01: rgb(128 88 197);
$color-02: rgb(121 135 236);
$color-03: rgb(255 151 146);
$color-04: rgb(255 113 172);
$color-05: rgb(255 180 47);
$color-06: rgb(255 117 90);
$color-07: rgb(39 39 39);
$color-08: rgb(255 255 255);
$color-09: rgb(243 242 242);


:root {
    --navbar-color: rgba(0 0 0 / 1);
}

.navbar-dark {
    --navbar-color: rgba(255 255 255 / 1);

}