.about {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;

    .aboutTitleContent{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .aboutTitle {
        font-size: $large;
        font-weight: bold;
        line-height: 1;
        text-align: center;
    }

    .aboutText {
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center; 
        position: relative;
        
    }

    .aboutImage{
        height: 30rem;
        position: absolute;
        left: 0;
        top: 0;
        z-index: -1;
    }

    .aboutBodyText {
        p {
            font-size: $caption;
        }
    }

    @media (max-width: 768px) {
        .aboutTitle {
            font-size: 40px;
        }
    
        .aboutText {
            margin: auto;
            display: flex;
            align-items: center;
            justify-content: center; 
            position: relative;
        }
    
        .aboutImage{
            height: 30%;
            position: absolute;
            left: 0;
            top: 5%;
            z-index: -1;
            opacity: 0.2;
        }
    
        .aboutBodyText {
            p {
                font-size: 0.85rem;
            }
        }
        
    }
    @media (max-width: 992px) {
    
        .aboutImage{
            height: 80%;
            position: absolute;
            left: 0;
            top: 5%;
            z-index: -1;
            opacity: 0.2;
        }
    
        .aboutBodyText {
            p {
                font-size: 1rem;
            }
        }

        
    }
}



