@import '../base/colors';
@import '../base/fuentes';

.background-contact {
    position: relative;

    .img-container {
        width: 100%;
        position: absolute;
        top: 0;
        right: 0;
        z-index: -10;
        opacity: .15;
        overflow: hidden;

        img {
            position: relative;
            width: 100%;
            left: 2rem;
        }
    }
    
    .contact-header {
        margin: 5rem 1rem 2.5rem;
        font-size: $sub-headline-02;
        font-weight: 400;
    
        strong {
            font-size: $headline-03;
            font-weight: 800;
        }
    }

    #contact-form {
        display: grid;
        grid-template-columns: repeat(2, minmax(4rem, 1fr));
        grid-auto-rows: auto;
        grid-gap: 1rem;
        justify-content: space-evenly;
        width: 100%;
        padding: 1rem;
        opacity: 1;
    
        .input-container {
            grid-column: span 2;
    
            input, textarea{
                width: 100%;
                border: none;
                padding: 1rem .5rem;
                background-color: $color-09;
            }
    
            textarea {
                min-height: 8rem;
            }
    
            input[type='submit']{
                background: linear-gradient(180deg, $color-01, $color-02);
                border-radius: .5rem;
                color: $color-08;
                padding: .6rem;
                margin: 2rem 0;
                
            }
    
            &:nth-child(2), &:nth-child(3){
                grid-column: span 1;
            }
    
            &:last-child {
                width: 60%;
                justify-self: center;
            }
        }
    
    }

}


