body { display: flex; flex-wrap: wrap; min-height: 100vh; }
footer { width: 100%; display: flex; flex-wrap: wrap; align-self: flex-end;}



footer {
    width: 100%; 
    display: flex;
    flex-wrap: wrap;
    align-self: flex-end;
    padding: 1.5rem;
    background: $color-07;

    .footerStyle {
        display: flex;
        flex-direction: row;

        @media (max-width: 768px) {
            margin: 0;
            padding: 0;
        }
    }

    .imageFooter {
        overflow: hidden;
        width: 5rem;
        border-radius: 1000px;

        img {
            width: 100%;
        }
    }

    .bodyFooter {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-left: auto;

        
        p {
            margin: 0 1rem;
            color: $color-08;
            
        }
        @media (max-width: 768px) {
            display: flex;
            flex-direction: column;
            justify-content: center;

            p {
                font-size: 0.75rem;
                order: 2;
                margin: 0px;
            }
        }

        .media {
            display: flex;
            flex-direction: row;
        }

        .mediaSocial {
            text-decoration: none;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 35px;
            width: 35px;
            border-radius: 1000px;
            color: $color-08;
            margin: 0 0.25rem;
            font-size: 1.35rem;
            padding: 1rem;

        }

        .instagram {
            background: #d6249f;
            background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
        }

        .facebook {
            background: #3b5998;
        }

        .whatsApp {
            background: #00bb2d;
        }

    }
}

.navbar-scroll {
	background: rgba( $color-01, 0.7);
    backdrop-filter: blur(5px);
	transition-duration: 0.6s;
}

nav {
    font-weight: bold;
    letter-spacing: 1.5px;
    font-size: 1rem;
}

#navbarSupportedContent {
    

    .nav-link {
        margin: 0 1rem;
        font-family: 'Roboto', sans-serif;
        transition: 0.2s ease all;
        

        &:hover, :active {
            box-shadow: 0px 3px 0px var(--navbar-color);
            color: var(--navbar-color);
        }
    }
}

#navbarDropdown {
    &::after {
        content: none;
    }
}

.dropdown-menu {
    margin-top: 0.5rem;
    border-radius: 10px;

    i {
        color: $color-02;
    }
}