@import '../base/colors';
@import '../base/fuentes';

.home {
    overflow: hidden;
}
.hero {
    height: 100vh;
    padding: 0;
    display: flex;
    align-items: center;
    background: linear-gradient(to right, $color-01, $color-02 ) ;
    position: relative;
    z-index: -2;

    .heroText {
        font-size: $large;
        color: $color-08;
        font-weight: bold;
    }
}
.ball {
    position: absolute;
    right: 0;
    bottom: -10%;
    height: 100vh;
    z-index: -1;
}

.bestsellers {
    padding-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 80vh;

    .titleBestseller1 {
        display: flex;
        justify-content: center;
        font-size: $headline-04;
        margin: 0;
        font-weight: bold;
        line-height: 1;
    }
    .titleBestseller2 {
        display: flex;
        justify-content: center;
        font-size: $headline-04;
        margin-bottom: 3rem;
        line-height: 1;
    }

    .cardBestseller {
        overflow: hidden;
        display: grid;
        grid-template-rows: span 2;

        .imageBestseller {
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                width: 100%;
            }
        }
        .bodyBestseller {
            display: flex;
            align-items: center;
            justify-content: center;

            p {
                text-align: center;
                margin: 0;
                font-size: $headline-02;
                font-weight: bold;
            }
        }
    }
}

.testimonios {
    position: relative;
    min-height: 80vh;

    .image-svg-tr {
        position: absolute;
        top: 0;
        right: -20px;
        width: 100px;
        z-index: -1;
    }
    .image-svg-bl {
        position: absolute;
        bottom:  -140px;
        left: -80px;
        z-index: -1;

    }



    .titleTestimonios {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: $color-07;
        margin: 6rem auto;
        font-size: $headline-04;
        line-height: 1;

        :nth-child(1){
            font-weight: bold;
        }

    }

    .cardTestContainer {
        display: grid;
        grid-gap: .85rem;
        // grid-auto-flow: dense;
        grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    }
    .cardTestimonio {
        display: grid;
        grid-template-rows: subgrid;
        grid-row: span 3;
    }
    .imageTestimonio {
        display: flex;
        justify-self: center;
        overflow: hidden;
        border-radius: 1000px;
        height: 10rem;
        width: 10rem;
        margin-bottom: 1rem;

        img {
            width: 100%;
        }
    }
    .bodyTestimonio {
        display: flex;
        align-items:flex-start;
        p {
            text-align: center;
            margin: 0;
        }
    }
    .nameTestimonio {
        display: flex;
        justify-content: center;

        p {
            text-align: center;
            font-weight: bold;
            font-style: italic;
        }
    }
}

.titleFeedInstagram{
    display: flex;
    justify-content: center;
    color: $color-07;
    margin: 10rem auto 2rem;

    .instagramText {
        font-weight: bold;
        margin-left: 0.5rem;
    }
}

.feedInstagram {
    display: grid;
    grid-gap: .85rem;
    grid-auto-flow: dense;
    grid-auto-rows: 20rem;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));

    .imageInstagram {
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: 100%;
        }
        
    }
}
.feedInstagramContainer {
    position: relative;
    margin-bottom: 10rem;
    min-height: 80vh;

    .ballVector {
        position: absolute;
        right: -10%;
        bottom: -20%;
        z-index: -1;
    }
}