@import '../base/colors';
@import '../base/fuentes';

.hero {
    height: 100vh;
    padding: 0;
    display: flex;
    align-items: center;
    background: linear-gradient(to right, $color-01, $color-02 ) ;
    position: relative;

    .heroText {
        font-size: $large;
        color: $color-08;
        font-weight: bold;
    }
}
.ball {
    position: absolute;
    right: 0;
    bottom: -10%;
    height: 100vh;
}

.bestsellers {
    padding-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .titleBestseller1 {
        display: flex;
        justify-content: center;
        font-size: $headline-01;
        margin: 0;
        font-weight: bold;
    }
    .titleBestseller2 {
        display: flex;
        justify-content: center;
        font-size: $headline-01;
        margin-bottom: 3rem;
    }

    .cardBestseller {
        overflow: hidden;
        display: grid;
        grid-template-rows: 2 / 3;

        .imageBestseller {
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                width: 100%;
            }
        }
    }
}

.testimonios {

    .titleTestimonios {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: $color-07;
        margin: 2rem auto;

    }
    .cardTestimonio {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .imageTestimonio {
        overflow: hidden;
        border-radius: 1000px;
        height: 10rem;
        width: 10rem;
        margin-bottom: 1rem;

        img {
            width: 100%;
        }
    }
}

.titleFeedInstagram{
    display: flex;
    justify-content: center;
    color: $color-07;
    margin: 2rem auto;

    .instagramText {
        font-weight: bold;
        margin-left: 0.5rem;
    }
}

.feedInstagram {
    display: grid;
    grid-gap: .85rem;
    grid-auto-flow: dense;
    grid-auto-rows: 20rem;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));

    .imageInstagram {
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: 100%;
        }
        
    }
}
.feedInstagramContainer {
    position: relative;
    margin-bottom: 10rem;

    .ballVector {
        position: absolute;
        right: -10%;
        bottom: -20%;
        z-index: -1;
    }
}