#banner {

    .banner-bg-color-1 {
        background: linear-gradient(90deg, $color-01, $color-02);
        @media (min-width: 768px){
            background: linear-gradient(90deg, $color-03, $color-04);
        }
    }
    
    .banner-bg-color-2 {
        background: linear-gradient(90deg, $color-01, $color-02);
        @media (min-width: 768px){
            background: linear-gradient(90deg, $color-05, $color-06);
        }
    }

    .banner-container {
        height: 100vh;
        display: flex;
        align-items: center;
        position: relative;
        z-index: 1;

        @media (max-width: 768px) {
            height: max(40vh, 15rem);
            width: 90%;
            border-radius: 2rem;
            margin: 4rem auto 0;
        }
    
        .text-container {
            position: relative;
            z-index: 30;

            h2 {
                color: $color-08;
                font-weight: bold;
                font-size: $large;

                @media (max-width: 768px) {
                    font-size: $headline-04;
                    margin-left: 5%;
                }
            }
        }
            
        .img {
            position: absolute;
            right: 0;
            bottom: -10%;
            height: 100vh;
            z-index: 20;

            @media (max-width: 768px) {
                height: 95%;
                right: -5%;
                top: 2.5%;
            }
        }
    }
}

#cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(max(8rem, 21%), 1fr));
    grid-gap: 2rem;
    padding: 8rem 1rem;

    .card {
        overflow: hidden;
        display: grid;
        grid-template-rows: 1fr auto auto;
        text-align: center; 
        border: none;

        .card-text {
            align-self: flex-end;
            margin: 1.5rem 0 2.5rem;

            p {
                text-align: center;
                margin: 0;
            }
        }
        
        .card-img {
            overflow: hidden;
            display: flex;
            align-items: center;

            img {
                object-fit: cover;
                width: 100%;
            }
        } 

        input[type="button"]{
            border: none;
            border-radius: 7px;
            padding: .5rem;
            color: #fff;
            background: linear-gradient(180deg, #6F4CD1 0%, #7C85FB 100%);
        }
    }
}

